.categorien {
    display: block;
    color: black;
    background-color: #FCE8E7;
    margin-top: 3px;
    height: 30px;
    line-height: 30px;
}

.categorie-title {
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 1px;
}

.categorie {
    margin-bottom: 10%;
    width: 200px;
}

.categorie a {
    padding-left: 5%;
    font-size: 16px;
}

.filter {
    margin-left: 40px;
    font-size: 14px;
}

.jurk-filter {
    padding: 0;
    padding-left: 125px;
    font-family: 'Caudex', serif;
}

.filterBox {
    width: 200px;
}

.panel {
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: -1px;
}

.panel-default .panel-heading {
    background: #F6F6F6;
    border-radius: 0;
    border-bottom: 0;
    height: 30px;
    padding-left: 10px;
}

.caret {
    color: #FAC9C4;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.panel-body {
    background: #FCFCFC;
    border-radius: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.panel-title {
    border-left-width: 0;
    line-height: 10px;
}

.checkbox label::before {
    border-color: #FAC9C4;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: none;
    outline: 0;
    outline-offset: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #FAC9C4;
    border-color: #FAC9C4;
}

#price-min {
    margin-bottom: 20px;
}

.jurk-merk {
    font-family: 'Caudex', serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 1px;
}

#amount {
    text-align: center;
    margin-top: 5px;
    border: 0;
    background-color: #FCFCFC;
}

#slider-range {
    width: 175px;
    margin-left: 2px;
    height: 5px;
    margin-bottom: 15px;
    background: #D1D1D1;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-header {
    background: #FAC9C4;
}

.ui-slider-handle.ui-corner-all.ui-state-default {
    border-color: #FAC9C4;
    background: #FCFCFC;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    top: -7px;
}

@media (max-width: 768px) {

    .categorie {
        width: 100%;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .jurk-filter {
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }

     #kenmerkenfilter {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

}
