@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style=" color: #F06E8A; font-family: 'Maven Pro', sans-serif; font-size:14px;">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link" style=" color: #F06E8A; font-family: 'Maven Pro', sans-serif; font-size:14px;">Logout</button>
            </form>
        </li>
    }
    else
    {

         <li class="nav-item">
            <a  class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="line-height:30px; color: #F06E8A; font-family: 'Maven Pro', sans-serif; font-size:14px;">Log in</a>
         </li>

    }
</ul>
